@{
    ViewBag.Title = "Skill list";
}


<div class="row" ng-controller="SkillController">
    <div class="col-md-12 col-lg-6">
        <br />
        @Html.ActionLink("Create new Skill", "Create")
        <br />
        <br />
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Skill ID
                </th>
                <th>
                    Skill Name
                </th>
                <th>

                </th>
            </tr>
            <tr ng-repeat="Skill in Skills">
                <td>{{ Skill.SkillID }}</td>
                <td>{{ Skill.SkillName }}</td>
                <td>
                    <button class="btn btn-primary btn-xs" ng-click="EditSkillInfo(Skill)">Edit</button>
                    <button class="btn btn-danger btn-xs" ng-click="DeleteSkillInfo(Skill)">Delete</button>
                </td>
            </tr>
        </table>

    </div>
</div>