<h2>Post A New JOB</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <input type="checkbox" ng-model="checkedJobBasicInfo" aria-label="Toggle ngHide">
        <span>Job basic info</span>
        <br/>
    </div>
    <div class="panel-body" ng-show="checkedJobBasicInfo">
        <div class="row">
            <div class="form-group">
                <label for="JobTitle" class="col-lg-4 control-label">Job Title</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="JobTitle" placeholder="Job Title" ng-model="inputJobTitle">
                </div>
            </div>
            <div class="form-group">
                <label for="MinimumExperiance" class="col-lg-4 control-label">Minimum Experiance(in year)</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="MinimumExperiance" placeholder="Minimum Experiance" ng-model="inputMinimumExperiance">
                </div>
            </div>
            <div class="form-group">
                <label for="MaximumExperiance" class="col-lg-4 control-label">Maximum Experiance(in year)</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="MaximumExperiance" placeholder="Maximum Experiance" ng-model="inputMaximumExperiance">
                </div>
            </div>
            <div class="form-group">
                <label for="SubmissionDeadline" class="col-lg-4 control-label">Submission Deadline</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control date-picker" id="SubmissionDeadline" placeholder="Submission Deadline" ng-model="inputSubmissionDeadline">
                </div>
            </div>
            <div class="form-group">
                <label for="ddlSection" class="col-lg-4 control-label">Select Section</label>
                <div class="col-lg-8">
                    <select id="ddlSection" ng-model="SectionId" class="form-control"
                            ng-options="value.SectionId as value.SectionName for value in sections"></select>
                </div>
            </div>
            
        </div>
    </div>
</div>
@Html.Partial("_Skill")

<div class="form-group">
    <div class="col-lg-12">
        <button class="btn btn-link" ng-click="BackJobList()">Back to job list</button>
        <button class="btn btn-primary" ng-hide="showEditbtn" ng-click="SaveJobInfo()">Save</button>
        <button class="btn btn-primary" ng-show="showEditbtn" ng-click="UpdateJobInfo()">Update</button>
    </div>
</div>


