<div class="panel panel-primary">
    <div class="panel-heading">
       Job Title : <span>{{jobExams.JobName}}</span>  <br />
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Exam Types
                </th>
            </tr>
            <tr ng-repeat="type in jobExams.SelectedExamTypes">
                <td>
                    <select ng-model="type.ExamTypeID" class="form-control"
                            ng-options="value.ExamTypeID as value.ExamType for value in jobExams.ExamTypes"></select>
                </td>
            </tr>

        </table>

        <button class="btn btn-primary" ng-click="AddExamType()">Add More</button>
        <button class="btn btn-primary" ng-click="RemoveExamType()">Delete</button>
    </div>
    <button class="btn btn-primary btn-xs" ng-click="SaveJobExamType()">Save</button>
    <button class="btn btn-primary btn-xs" ng-click="CancelJobExamType()">Cancel</button>
</div>
