@{
    ViewBag.Title = "Home";
}


<div class="row" ng-controller="HomeController">
    <div class="col-md-4">
       <h1>IMS Health, Dhaka</h1>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>