<div class="panel panel-primary">
    <div class="panel-heading">
        <input type="checkbox" ng-model="checkedCareer" aria-label="Toggle ngHide"> <span> Career info</span>  <br />
    </div>
    <div class="panel-body" ng-show="checkedCareer">

        <div class="row" ng-repeat="career in careers">
            <div class="form-group">
                <label for="CompanyName" class="col-lg-4 control-label">Company Name</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="CompanyName" placeholder="Company Name" ng-model="career.CompanyName">
                </div>
            </div>
            <div class="form-group">
                <label for="CareerTitle" class="col-lg-4 control-label">Title</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="CareerTitle" placeholder="Title" ng-model="career.Title">
                </div>
            </div>

            <div class="form-group">
                <label for="CareerLocation" class="col-lg-4 control-label">Location</label>
                <div class="col-lg-8">
                    <textarea class="form-control" rows="3" id="CareerLocation" placeholder="Location" ng-model="career.Location"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="KeyResponsibility" class="col-lg-4 control-label">Key Responsibility</label>
                <div class="col-lg-8">
                    <textarea class="form-control" rows="3" id="KeyResponsibility" placeholder="Key Responsibilities" ng-model="career.Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="FromDate" class="col-lg-4 control-label">FromDate</label>
                <div class="col-lg-8">
                    <input type="text" id="FromDate" class="form-control date-picker" ng-model="career.JoinDate" />
                </div>
            </div>

            <div class="form-group">
                <label for="ToDate" class="col-lg-4 control-label">ToDate</label>
                <div class="col-lg-8">
                    <input type="text" id="ToDate" class="form-control date-picker" ng-model="career.LeaveDate" />
                </div>
            </div>
            <br />
            <hr class="col-lg-11" />
            <br />
        </div>
        <button class="btn btn-primary" ng-click="AddCarrerInfo()">Add More</button>
        <button class="btn btn-primary" ng-click="RemoveCarrerInfo()">Delete</button>
    </div>
</div>
