@{
    ViewBag.Title = "Applicant";
}
<div ng-controller="ApplicantController">
    <div ng-show="showApplicantList">
        <button class="btn btn-link" ng-click="CreateApplicant()">Create New Applicant</button>
        <h2>Applicant List</h2>
<div style="height: 50px;">
        <div style="height: 50px; float: left; ">
            Page Size:
               
            <select ng-model="pageSize" ng-change="onPageSizeChanged()">
                <option value="2">2</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
        </div>
         <div style="height: 50px; float: right;">
 <button ng-click="onBtExport()">Export to CSV</button>
            <input placeholder="Filter..." type="text" ng-model="gridOptions.quickFilterText" /></div>

</div>
        <div style="height: 500px;" ag-grid="gridOptions" class="ag-blue"></div>
    </div>
    <div ng-show="showCreateApplicant">
        @Html.Partial("_Create")
   
    </div>
</div>

