@{
    ViewBag.Title = "Delete Status";
}


<div class="row" ng-controller="StatusController">
    <div class="col-md-12">
        <br />
        <p>
            Status ID : <input id="deleteStatusID" class="form-control" type="text" placeholder="@ViewBag.statusCode" value="@ViewBag.statusCode" disabled="">
        </p>
        <p>
            Status Name : <input class="form-control" type="text" placeholder="@ViewBag.status" disabled="">
        </p>
        <p>
            <button class="btn btn-info" ng-click="DeleteStatusInfobyID()">Delete</button>
            <br />
            <br />
            @Html.ActionLink("Back to Status list", "Index")
        </p>
    </div>
</div>


