@{
    ViewBag.Title = "Status list";
}


<div class="row" ng-controller="StatusController">
    <div class="col-md-12 col-lg-6">
        <br />
        @Html.ActionLink("Create new Status", "Create")
        <br />
        <br />
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Status Code
                </th>
                <th>
                    Status Name
                </th>
                <th>

                </th>
            </tr>
            <tr ng-repeat="status in statuses">
                <td>{{ status.StatusCode }}</td>
                <td>{{ status.Status }}</td>
                <td>
                    <button class="btn btn-primary btn-xs" ng-click="EditStatusInfo(status)">Edit</button>
                    <button class="btn btn-danger btn-xs" ng-click="DeleteStatusInfo(status)">Delete</button>
                </td>
            </tr>
        </table>

    </div>
</div>