
@{
    ViewBag.Title = "Expertise list";
}


<div class="row" ng-controller="ExpertiseController">
    <div class="col-md-12 col-lg-6">
        <br/>
        @Html.ActionLink("Create new expertise", "Create")
        <br/>
        <br/>
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Expertise Code
                </th>
                <th>
                    Expertise Name
                </th>
                <th>
                    
                </th>
            </tr>
            <tr ng-repeat="expertise in expertises">
                <td>{{ expertise.ExpertiseCode }}</td>
                <td>{{ expertise.ExpertiseName }}</td>
                <td>
                    <button class="btn btn-primary btn-xs" ng-click="EditExpertiseInfo(expertise)">Edit</button>
                    <button class="btn btn-danger btn-xs" ng-click="DeleteExpertiseInfo(expertise)">Delete</button>
                </td>
            </tr>
        </table>

    </div>
</div>